<!DOCTYPE html>
<html>
<head>
    <title>Express.js with EJS</title>
</head>
<body>
    <h1>Let's make traffic jam</h1>
    <button id="dangerButton">Danger Button</button>
    <script src="/js/index.js"></script>
</body>
</html>
